<!--  BG-NAVES -->
<section class="bg-naves">
  <div class="container">
    <div class="bg-info-naves">
      <h1>Naves</h1>
      <p>Pilote as naves do universo de Star Wars: junte-se a rebelião e destrua o império</p>
    </div>
  </div>
</section>

<!-- NAVES EM DESTAQUE-->

<section class="naves">
  <div class="container">
    <mat-tab-group mat-align-tabs="start" class="flex-item-12">
      <mat-tab label="REBELIÃO">
        <div class="naves-content nave-1">
          <span class="nave">
            <img src="../../assets/home/x-wing.png" alt="Nave X-Windg" />
          </span>
          <div class="info">
            <h2>X-Wing</h2>

            <p>
              Os caças X-wing eram um tipo de caça estelar marcado por seus
              distintos S-foils que se assemelhavam ao personagem "X" do script
              High Galactic em formação de ataque. Eles estavam fortemente
              armados com quatro canhões de laser nos S-foils e lançadores de
              torpedos de prótons na fuselagem. As asas-X foram projetadas para
              brigas de cães e missões longas.
            </p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="IMPÉRIO">
        <div class="naves-content">
          <span class="nave nave-2">
            <img
              src="../../assets/naves/star-destryer-card.png"
              alt="Nave X-Windg"
            />
          </span>
          <div class="info">
            <h2>Star Destroyer</h2>

            <p>
              Os Destroyers Estelares eram as naves que mais consumiam recursos
              que a galáxia já vira, e apenas Kuat possuía estaleiros capazes de
              suportar e manter mais do que um punhado de cada vez.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="NAVES NEUTRAS">
        <div class="naves-content">
          <span class="nave nave-3">
            <img
              src="../../assets/naves/corvette-card.png"
              alt="Nave X-Windg"
            />
          </span>
          <div class="info nave-3">
            <h2>CR-90 Corvette</h2>

            <p>
              Enquanto o CR90 veria uso inicial no final da República Galáctica
              e no Senado Imperial, muitas embarcações seriam apropriadas pela
              rebelião inicial e pela Aliança Rebelde contra o Primeiro Império
              Galáctico, apesar de não terem sido projetadas como uma nave
              voltada para o combate.
            </p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<!-- TODOS AS NAVES -->
<section class="todas-naves">
  <div class="container">
    <div class="lista-naves-titulo flex-item-8">
      <h1>Lista de Naves</h1>
    </div>
    
    <form class="form-naves flex-item-4">
      <mat-form-field>
        <mat-label>Buscar naves</mat-label>
        <input
          [(ngModel)]="buscarNaves"
          (input)="buscarEspacoNaves()"
          matInput
          placeholder="Digite o nome da nave"
          name="naves"
        />
      </mat-form-field>
    </form>


    <div class="itens">
      <mat-card
        *ngFor="let nav of naves"
        class="card"
        (click)="showDetails(nav)"
      >
        <img mat-card-image [attr.src]="nav.img" />
        <mat-card-content>
          <div class="tags-naves">
            <span class="naves-classe"> {{ nav.starship_class }} </span>
          </div>
          <div class="nav-nome">
            <h2>
              {{ nav.name }}
            </h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
