<!--  BG-FILMES -->
<section class="bg-filmes">
  <div class="container">
    <div class="info">
      <h1>Filmes</h1>
      <p>Relembre os filmes que deram vida ao universo fantástico mais amado da cultura pop</p>
    </div>
  </div>
</section>

<!-- TRIOLOGIA PREQUELS -->

<section class="prequels">
  <div class="prequels-title">
    <img src="../../assets/filmes/filmes-prequels.png" alt="" />
  </div>
  <div class="container">
    <mat-card class="posters">
      <mat-card class="card-prequels">
        <img
          mat-card-image
          src="../../assets/filmes/ameaca-fantasma-card.jpg"
          alt="Poster do filme Star Wars: Ameaça fastasma"
        />

        <mat-card-content>
          <p>Ameaça fastasma</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-prequels">
        <img
          mat-card-image
          src="../../assets/filmes/ataque-dos-clones.jpg"
          alt="Poster do filme Star Wars: Ataque dos clones"
        />
        <mat-card-content>
          <p>Ataque dos clones</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-prequels">
        <img
          mat-card-image
          src="../../assets/filmes/a-vingança-dos-sith.jpg"
          alt="Poster do filme Star Wars: A vingança dos Sith"
        />
        <mat-card-content>
          <p>A vingança dos Sith</p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</section>

<!-- FILMES -->
<section class="filmes">
  <div class="container">
    <!-- TODOS OS FILME -->
    <div class="lista-filmes-titulo flex-item-8">
      <h1>Lista de Filmes Star Wars</h1>
    </div>
    
    <form class="form flex-item-4">
      <mat-form-field>
        <mat-label>Filmes</mat-label>
        <input  [(ngModel)]="buscar" (input)="buscarFilme()" matInput placeholder="Buscar filme" name="filme">
      </mat-form-field>
    </form>

    <div class="itens">
      <mat-card
        *ngFor="let filme of filmes"
        class="card"
        (click)="showDetails(filme)"
      >
        <img mat-card-image [attr.src]="filme.img" />
        <mat-card-content>
          <div class="tags-filme">
            <span class="diretor"> {{ filme.director }} </span>
          </div>
          <h2>
            {{ filme.title }}
          </h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
