/* TRIOLOGIA PREQUELS */
.prequels {
  background: url("../../assets/filmes/bg-prequels.jpg") no-repeat center;
  background-size: cover;
}

.prequels-title {
  padding-top: 20px;
  text-align: center;
}

.prequels-title img {
  max-width: 100%;
}

.posters {
  background-color: #dcdcdc;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.card-prequels {
  background-color: #dcdcdc;
  box-shadow: none;
  border-radius: 0;
  margin-left: 80px;
  float: left;
}

.card-prequels p {
  text-align: center;
  color: #000000;
  font-size: 1.1em;
  font-weight: bolder;
  letter-spacing: 1px;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .posters {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 60px;
  }
}

/* BG-FILMES */
.bg-filmes {
  background: url("../../assets/filmes/bg-filmes-pg.jpg") no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 570px;
  margin-top: 169px;
}

.info {
  margin: 0 auto;
  text-align: center;
}

.info h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 180px 0 0 0;
  color: #fff;
  margin-bottom: 30px;
}

.info p {
  font-size: 1.5em;
  font-weight: lighter;
  color: #fff;
}

@media (max-width: 787px) {
  .bg-filmes {
    margin-top: 380px;
  }
}

/* FILMES */
.filmes {
  background: #f2f2f2;
}

.filmes h1 {
  padding: 80px 0px;
  font-weight: 600;
  font-size: 2.62em;
  margin-left: 10px;
}

.filmes h2 {
  font-size: 1.75em;
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}

.mat-divider {
  align-self: center;
  margin-top: 25px;
  justify-content: right;
  background-color: #c4c4c4;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  height: 500px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px #c4c4c4, -1px -1px 1px #c4c4c4;
  margin-right: 5px
}

.card:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.tags-filme {
  margin: 10px 10px 15px 10px;
}

.tags-filme span {
  width: 125px;
  height: 30px;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.diretor {
  background-color: #6B88D2;
}

.card h1 {
  font-size: 1.75em;
  padding: 0px 10px 10px 10px;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .card {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 787px) {
  .itens {
    flex-direction: column;
  }

  .card {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
