/* BG-PERSONAGENS */
.bg-planetas-pg {
  background: url("../../assets/planetas/bg-planetas.jpg") no-repeat center;
  background-size: cover;
  height: 570px;
  margin-top: 169px;
}

.bg-planetas-pg img {
  max-width: 100%;
}

.bg-planetas-pg-info {
  margin: 0 auto;
  text-align: center;
}

.bg-planetas-pg-info h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 180px 0 0 0;
  color: #fff;
  margin-bottom: 30px;
}

.bg-planetas-pg-info p {
  font-size: 1.5em;
  font-weight: lighter;
  color: #fff;
}

@media (max-width: 787px) {
  .bg-planetas-pg {
    margin-top: 70px;
  }

  .bg-planetas-pg-info h1 {
    font-size: 2.75em;
  }

  .bg-planetas-pg p {
    font-size: 1.25em;
  }
}

/* PLANETA EM DESTAQUE */
.planeta-destaque {
  background-color: #000;
}

.planeta-img img{
  width: 100%;
  display: block;
}

.planeta-destaque h2 {
  color: #fff;
  font-size: 3em;
  text-align: center;
}

.planeta {
  padding: 50px 0;
}

.planeta-nome {
  position: relative;
  top: -65px;
}

.planeta-info {
  align-self: center;
}

.planeta-info p {
  color: #fff;
  font-size: 1.75em;
  font-weight: lighter;
  line-height: 35px;
}

@media (min-width: 788px) and (max-width: 1249px) { 

  .planeta {
    margin: 0 auto;
  }

  .planeta-info {
    flex: 0 0 800px;
    max-width: 800px;
    padding-bottom: 60px;
    margin: 0 auto;
  }
}

@media (max-width: 787px) {
  .planeta-info {
    flex: 0 0 400px;
    max-width: 400px;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .planeta-info h2 {
    font-size: 2.75em;
  }

  .planeta-info p{
    font-size: 1.25em;
  }

}

/* TODOS OS PLANETAS */
.planetas {
  background: #f2f2f2;
}

.planetas h1 {
  padding: 80px 0px;
  font-weight: 600;
  font-size: 3em;
  margin-left: 10px;
}

.planetas h2 {
  font-size: 1.75em;
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}

.form-planetas {
  align-self: center;
}

.form-planetas .mat-form-field {
  width: 100%;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  height: 500px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px #c4c4c4, -1px -1px 1px #c4c4c4;
  margin-right: 5px
}

.card:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.tags-planetas {
  margin: 10px 10px 15px 10px;
}

.tags-planetas span {
  width: 125px;
  height: 30px;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tags-planetas .tag-clima{
  background-color: #87e2ff;
}

.card h1 {
  font-size: 1.75em;
  padding: 0px 10px 10px 10px;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .itens {
    justify-content: center;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 787px) {
  .itens {
    flex-direction: column;
  }

  .lista-planetas-titulo h1 {
    font-size: 2.75;
    margin-left: -10px;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left: -10px;
  }

  .form-planetas {
    align-self: flex-start;
    margin-left: -10px;
  }
  
  .form-planetas .mat-form-field {
    width: 280px;
  }
  
  .lista-planetas-titulo {
    font-size: 1.2em;
    max-width: 100%;
  }
}
