/* HEADER */
.header {
  background-color: #000000;
  padding: 30px 0;
  width: 100%;
  height: 170px;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header_logo img {
  max-width: 100%;
  display: block;
  padding: 15px 0px;
}

.nav {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.header_menu {
  align-self: center;
  text-align: center;
}

.header_menu ul {
  list-style: none;
}

.header_menu a {
  color: #ffe81f;
  text-decoration: none;
}

.header_menu li {
  font-size: 1.125em;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.header_menu ul li a {
  display: block;
  padding: 10px;
}

.header_menu li a:hover {
  color: #fff;
}

.header_menu ul li a::after {
  content: "|";
  padding-left: 12px;
}

.header_menu ul li:last-child a:after {
  content: "";
}

.form {
  align-self: center;
  margin: 0 auto;
}

.form input {
  width: 300px;
  height: 25px;
  font-size: 0.75em;
  color: #fff;
  border: 3px solid #2cb2fd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 5px 10px #2cb2fd, -2px -5px 10px #2cb2fd;
  background: none;
  outline: none;
  position: relative;
  top: -20px;
  padding: 10px 0px 10px 10px;
}

.btn {
  background: none;
  border: none;
}

.btn img {
  display: block;
  position: relative;
  z-index: 1;
  left: -20px;
  bottom: -1px;
}

.toolbar {
  display: none;   
}

.active {
  color: #fff !important;
}

.active::after {
  color: #ffe81f;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .header_menu {
    align-self: flex-start;
    position: relative;
  }

  .form {
    align-self: center;
    margin: 0 0 0 300px;
  }

  .form input {
    max-width: 250px;
    top: 14px;
    left: -220px;
  }

  .btn {
    position: absolute;
  }

  .btn img {
    left: -250px;
    bottom: 0px;
  }
}

@media (max-width: 787px) {
  .header {
    display: none;
  }
  /* TOOLBAR MOBILE*/
  .toolbar {
    background-color: #000000;
    display: block;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 4000;
  }

  .toolbar-icon {
    color: #ffe81f;
    padding-left: 38px;
    background-color: #000000;
    border: none;
    outline: none;
  }

  .mat-icon {
    font-size: 30px;
  }

  .toolbar-logo {
    margin-left: 37%;
    position: relative;
    top: 12px;
    outline: none;
  }
  
  .toolbar-icon:hover, .toolbar-logo:hover {
    cursor: pointer;
  }
  

  .mat-toolbar-row{
    background-color: #000000;
    color:  #ffe81f;
    padding-left: 40px;
    outline: none;
  }

  

  .mat-toolbar-row:hover {
    cursor: pointer;
    border: 1px solid #ffe81f;
  }

}

/* SLOGAN */
.slogan {
  height: 180px;
  margin-top: 60px;
  margin-left: 10px;
}

.slogan-mobile {
  display: none;
}

.slogan img {
  max-width: 100%;
}

@media (max-width: 787px) {
  .slogan {
    display: none;
  }

  .slogan-mobile {
    display: block;
    padding: 40px 0;
  }
}

/* FOOTER */

.footer {
  background: url("../assets/home/bg-footer.jpg") no-repeat center;
  background-size: cover;
  display: block;
  width: 100%;
  position: relative;
}

.footer p {
  font-size: 1.5em;
  color: #f4f4f4;
  font-weight: lighter;
  max-width: 790px;
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 30px;
}

.redes {
  align-self: center;
  padding: 0px 0 47px 0;
}
.redes h3 {
  font-size: 1.75em;
  color: #f4f4f4;
  font-weight: lighter;
  padding-top: 80px;
  margin-bottom: 30px;
}

.redes img {
  max-width: 100%;
  display: block;
}

.redes ul li {
  display: inline-block;
  margin-left: 30px;
}

.estrela {
  margin-top: -15px;
}

.estrela img {
  width: 100%;
  display: block;
}

@media (max-width: 787px) {
  .footer p {
    max-width: 100%;
    align-self: center;
    margin: 50px 0px 10px 0px;
  }

  .redes h3 {
    padding-top: 30px;
  }

  .redes {
    max-width: 100%;
    align-self: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1250px) {
  .estrela {
    display: none;
  }
}
