<div *ngIf="tipo === 'personagem'">
  <img mat-card-image [attr.src]="body.img" [attr.alt]="body.name" />
  <div class="descricao">
    <div class="tag">
      <span class="jedi"> JEDI </span>
    </div>
    <h1>
      {{ body.name }}
    </h1>
    <p><strong>Nascimento:</strong> {{ body.birth_year }}</p>
    <p><strong>Cor da pele:</strong> {{ body.skin_color }}</p>
    <p><strong>Cor dos olhos:</strong> {{ body.eye_color }}</p>
    <p><strong>Cor do cabelo:</strong> {{ body.hair_color }}</p>
    <p><strong>Gênero:</strong> {{ body.gender }}</p>
    <p><strong>Altura:</strong> {{ body.height }}</p>
    <p><strong>Peso:</strong> {{ body.mass }}</p>
  </div>
</div>

<div *ngIf="tipo === 'filme'">
  <img mat-card-image [attr.src]="body.img" [attr.alt]="body.title" />
  <div class="descricao">
    <div class="tag">
      <span class="diretor"> {{ body.director }} </span>
    </div>
    <h1>
      {{ body.title }}
    </h1>
    <p><strong>Diretor:</strong> {{ body.director }}</p>
    <p><strong>Produção:</strong> {{ body.producer }}</p>
    <p><strong>Episódio:</strong> {{ body.episode_id }}</p>
    <p><strong>Lançamento:</strong> {{ body.release_date }}</p>
    <p><strong>Sinopse:</strong> {{ body.opening_crawl }}</p>
  </div>
</div>

<div *ngIf="tipo === 'planeta'">
  <img mat-card-image [attr.src]="body.img" [attr.alt]="body.name" />
  <div class="descricao">
    <div class="tag">
      <span class="diretor"> {{ body.terrain }} </span>
    </div>
    <h1>
      {{ body.name }}
    </h1>
    <p><strong>Clima:</strong> {{ body.climate }}</p>
    <p><strong>Diâmetro:</strong> {{ body.diameter }}</p>
    <p><strong>Gravidade:</strong> {{ body.gravity }}</p>
    <p><strong>Período Orbital:</strong> {{ body.orbital_period }}</p>
    <p><strong>População:</strong> {{ body.population }}</p>
    <p><strong>Período rotacional:</strong> {{ body.rotation_period }}</p>
    <p><strong>Água da superfície:</strong> {{ body.surface_water }}</p>
    <p><strong>Terreno:</strong> {{ body.terrain }}</p>
  </div>
</div>

<div *ngIf="tipo === 'nave'">
  <img mat-card-image [attr.src]="body.img" [attr.alt]="body.title" />
  <div class="descricao">
    <div class="tag">
      <span class="diretor"> {{ body.starship_class }} </span>
    </div>
    <h1>
      {{ body.name }}
    </h1>
    <p><strong>MGLT:</strong> {{ body.MGLT }}</p>
    <p><strong>Capacidade de carga:</strong> {{ body.cargo_capacity }}</p>
    <p><strong>Consumíveis:</strong> {{ body.consumables }}</p>
    <p><strong>Custo de créditos:</strong> {{ body.cost_in_credits }}</p>
    <p><strong>Tripulação:</strong> {{ body.crew }}</p>
    <p><strong>Hiper-direção:</strong> {{ body.hyperdrive_rating }}</p>
    <p><strong>Tamanho:</strong> {{ body.length }}</p>
    <p><strong>Passageiros:</strong> {{ body.passengers }}</p>
    <p><strong>Classe da nave:</strong> {{ body.starship_class }}</p>
  </div>
</div>
