.tag {
  margin: 10px 10px 15px 0px;
}

.tag span {
  width: 125px;
  height: 30px;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.diretor {
  background-color: #6B88D2;
}

.clima {
  background-color: #87e2ff;
}

.classe {
  background-color: #FEFBDA;
}

.classe-naves {
  background-color: #5FAE97;
}

.descricao {
  width: 350px;
}

.dialog-content {
  background-color: #262626;
}
