<!--  BG-PERSONAGENS -->
<section class="bg-personagens">
  <div class="container">
    <div class="info">
      <h1>Personagens de Star Wars</h1>
      <p>Explore os personagens da saga espacial mais amada da cultura pop.</p>
    </div>
  </div>
</section>

<!-- PERSONAGENS -->
<section class="personagens">
  <div class="container">
    <h1>Personagens em destaques</h1>
    <div class="itens">
      <mat-card
        *ngFor="let personagem of personagens; index as pos"
        class="card"
        (click)="showDetails(personagem)"
      >
        <img
          mat-card-image
          [attr.src]="personagem.img"
          alt="Foto Luke Skywalker"
        />
        <mat-card-content>
          <div class="tags">
            <span class="jedi"> JEDI </span>
            <span class="rebeliao"> REBELIÃO </span>
          </div>
          <h1>
            {{ personagem.name }}
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
