<!--  BG-PERSONAGENS -->
<section class="bg-personagens">
  <div class="container">
    <div class="info">
      <h1>Personagens</h1>
      <p>Se junte aos personagens de Star Wars na maior biblioteca da galáxia!</p>
    </div>
  </div>
</section>

<!-- PERSONAGENS -->
<section class="personagens">
  <div class="container">
    <!-- PERSONAGENS EM DESTAQUE -->
    <div class="destaque">
      <h1>Personagens em Destaque</h1>
    </div>
    <div class="itens">
      <mat-card
        *ngFor="let personagem of destaques"
        class="card destaque"
        (click)="showDetails(personagem)"
      >
        <img
          mat-card-image
          [attr.src]="personagem.img"
          alt="Foto Luke Skywalker"
        />
        <mat-card-content>
          <div class="tags-personagem">
            <span class="tag-classe"> {{ personagem.class }} </span>
          </div>
          <h2>
            {{ personagem.name }}
          </h2>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- TODOS OS PERSONAGENS -->
    <div class="lista-persoangens-titulo flex-item-8">
      <h1>Lista de Personagens de Star Wars</h1>
    </div>
    <mat-divider class="flex-item-4"></mat-divider>

    <div class="itens">
      <mat-card
        *ngFor="let personagem of personagens"
        class="card"
        (click)="showDetails(personagem)"
      >
        <img
          mat-card-image
          [attr.src]="personagem.img"
          alt="Foto Luke Skywalker"
        />
        <mat-card-content>
          <div class="tags-personagem">
            <span class="tag-classe"> {{ personagem.class }} </span>
          </div>
          <h2>
            {{ personagem.name }}
          </h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
