<!-- PLANETAS -->
<section class="planetas">
  <div class="container">
    <div class="planeta-info">
      <h1>Coruscant</h1>
      <p>
        Coruscant foi a sede do governo da República Galáctica e,
        posteriormente, do Império, e foi palco de inúmeros eventos históricos
        durante as Guerras Clônicas. O planeta também abrigou o Templo Jedi e os
        Arquivos, onde o aprendizado e o treinamento Jedi ocorreram por mais de
        mil gerações.
      </p>
      <a class="call" routerLink="/planetas">Ver mais</a>
    </div>
  </div>
</section>

<!-- PERSONAGENS -->
<section class="personagens">
  <div class="container">
    <h1>Personagens</h1>
    <div class="itens">
      <mat-card class="card flex-item-4">
        <mat-card-header>
          <mat-card-title>Luke Skywalker</mat-card-title>
        </mat-card-header>

        <img
          mat-card-image
          src="../../assets/home/personagem-1.png"
          alt="Foto Luke Skywalker"
        />

        <mat-card-content>
          
          <div class="tags">
            <span class="jedi"> JEDI </span>
            <span class="rebeliao"> REBELIÃO </span>
          </div>

          <p>
            Luke Skywalker, um homem humano sensível à Força, foi um lendário
            Mestre Jedi que lutou na Guerra Civil Galáctica durante o reinado do
            Império Galáctico. Junto com seus companheiros, a Princesa Leia
            Organa e o General Han Solo, Skywalker serviu ao lado da Aliança
            para Restaurar a República - uma organização comprometida com a
            queda do Império Galáctico e a restauração da democracia.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card flex-item-4">
        <div class="content">
          <mat-card-header>
            <mat-card-title>Darth Vader</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/home/personagem-2.png"
            alt="Foto Darth Vader"
          />
          <mat-card-content>
            <div class="tags">
              <span class="sith"> SITH </span>
              <span class="imperio"> IMPÉRIO </span>
            </div>

            <p>
              Ao longo dos Tempos Negros, o ex-Anakin Skywalker trouxe medo à
              galáxia em sua capacidade de executor sombrio do Imperador. No
              entanto, apesar de sua profunda imersão na escuridão, Vader nunca
              conseguiu matar completamente o lado dele que era Skywalker. Seu
              confronto com seu filho, o aspirante a Cavaleiro Jedi Luke
              Skywalker, durante a Guerra Civil Galáctica despertou a compaixão
              dentro do Senhor Sith, fazendo com que Vader renunciasse à sua
              aliança com os Sith para salvar Luke da ira do Imperador.
            </p>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="card flex-item-4">
        <div class="content">
          <mat-card-header>
            <mat-card-title>C3P0</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/home/personagem-3.png"
            alt="Foto C3P0"
          />
          <mat-card-content>
            <div class="tags">
              <span class="android"> ANDROID </span>

              <span class="rebeliao"> REBELIÃO </span>
            </div>

            <p>
              C-3PO, um andróide de protocolo da série 3PO projetado para
              interagir com orgânicos, programado principalmente para etiqueta e
              protocolo. Ele era fluente em mais de seis milhões de formas de
              comunicação e desenvolveu uma personalidade exigente e propensa a
              preocupações ao longo de suas muitas décadas de operação.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>

    <!-- CALL TO ACTION -->
    <div class="call-to-action">
      <a class="call call-preto" routerLink="/personagens">Ver mais</a>
    </div>

  </div>
</section>

<!-- NAVES -->

<section class="naves">
  <div class="container">
    <h1>Naves</h1>
    <img
      class="badge"
      src="../../assets/home/badge-naves 1.svg"
      alt="Badge Nave Star Wars"
    />

    <mat-tab-group mat-align-tabs="start" class="flex-item-12">
      <mat-tab label="REBELIÃO">
        <div class="naves-content">
          <span class="nave nave-1">
            <img src="../../assets/home/x-wing.png" alt="Nave X-Windg" />
          </span>
          <div class="info">
            <h2>X-Wing</h2>

            <p>
              Os caças X-wing eram um tipo de caça estelar marcado por seus
              distintos S-foils que se assemelhavam ao personagem "X" do script
              High Galactic em formação de ataque. Eles estavam fortemente
              armados com quatro canhões de laser nos S-foils e lançadores de
              torpedos de prótons na fuselagem. As asas-X foram projetadas para
              brigas de cães e missões longas.
            </p>

            <div class="info-mais">
              <a routerLink="/naves">
                <p>VER MAIS</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </a>
            </div>

          </div>
        </div>
      </mat-tab>

      <mat-tab label="IMPÉRIO">
        <div class="naves-content">
          <span class="nave nave-2">
            <img
              src="../../assets/home/star-destryer-card.png"
              alt="Nave Star Destroyer"
            />
          </span>
          <div class="info">
            <h2>Star Destroyer</h2>

            <p>
              Os Destroyers Estelares eram as naves que mais consumiam recursos
              que a galáxia já vira, e apenas Kuat possuía estaleiros capazes de
              suportar e manter mais do que um punhado de cada vez.
            </p>

            <div class="info-mais">
              <a routerLink="/naves">
                <p>VER MAIS</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="NAVES NEUTRAS">
        <div class="naves-content">
          <span class="nave nave-3">
            <img
              src="../../assets/home/corvette-card.png"
              alt="Nave CR-90 Corvette"
            />
          </span>
          <div class="info info-nave-3">
            <h2>CR-90 Corvette</h2>

            <p>
              Enquanto o CR90 veria uso inicial no final da República Galáctica
              e no Senado Imperial, muitas embarcações seriam apropriadas pela
              rebelião inicial e pela Aliança Rebelde contra o Primeiro Império
              Galáctico, apesar de não terem sido projetadas como uma nave
              voltada para o combate.
            </p>

            <div class="info-mais">
              <a routerLink="/naves">
                <p>VER MAIS</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<!-- FILMES -->

<section class="filmes">
  <div class="filmes-title">
    <img src="../../assets/home/filmes-anuncio.png" alt="" />
  </div>
  
  <div class="container container-filmes">
    <mat-card class="posters">
      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/filme-1.jpg"
          alt="Poster do filme Star Wars: Uma nova esperança"
        />

        <mat-card-content>
          <p>Uma nova esperança</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/filme-2.jpg"
          alt="Poster do filme Star Wars: O império contra-ataca"
        />
        <mat-card-content>
          <p>O império contra-ataca</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/filme-3.jpg"
          alt="Poster do filme Star Wars: Retorno de Jedi"
        />
        <mat-card-content>
          <p>Retorno de Jedi</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/ameaca-fantasma-card.jpg"
          alt="Poster do filme Star Wars: Ameaça fastasma"
        />
        <mat-card-content>
          <p>Ameaça fastasma</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/ataque-dos-clones.jpg"
          alt="Poster do filme Star Wars: Ataque dos clones"
        />
        <mat-card-content>
          <p>Ataque dos clones</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-filme">
        <img
          mat-card-image
          src="../../assets/home/a-vinganca-dos-sith.jpg"
          alt="Poster do filme Star Wars: A vingança dos Sith"
        />
        <mat-card-content>
          <p>A vingança dos Sith</p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
  <div class="sec-filmes">
    <a class="call" routerLink="/filmes">Ver mais</a>
  </div>
</section>
