/* PLANETAS */
.planetas {
  background: url("../../assets/home/bg-planetas.jpg") no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 570px;
  margin-top: 169px;
}

.planeta-info {
  margin: 0 auto;
  text-align: center;
}

.planetas h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 80px 0 0 0;
  color: #fff;
  margin-bottom: 30px;
}

.planetas p {
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 30px;
  max-width: 550px;
  color: #fff;
  margin-bottom: 60px;
}

.call {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  border: 3px solid #ffe81f;
  padding: 7px 40px;
  color: #ffe81f;
}

.call:hover {
  color: #fff;
  border: 3px solid #fff;
}

@media (max-width: 787px) {
  .planetas {
    margin-top: 379px;
  }
}

/* PERSONAGENS */
.personagens {
  background: #f2f2f2;
}

.personagens h1 {
  padding: 80px 0px;
  font-size: 3em;
  margin-left: 10px;
}

.itens {
  display: flex;
}

.card {
  max-width: 480px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #c4c4c4;
}

.card .mat-card-title {
  font-size: 1.75em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
}

.card img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 10px 10px 10px;
}

.tags {
  margin: 10px 10px 15px 10px;
}

.tags span {
  width: 125px;
  height: 30px;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.jedi {
  background-color: #87e2ff;
}

.sith {
  background-color: #fe7070;
}

.android {
  background-color: #5ad446;
}

.rebeliao {
  background-color: #ff9c07;
  margin-left: 10px;
}

.imperio {
  background-color: #c4c4c4;
  margin-left: 10px;
}

.mat-card-content p {
  font-size: 1.25em;
  line-height: 25px;
  padding: 0px 10px 10px 10px;
}

.call-to-action {
  margin: 0 auto;
  padding: 80px 0 120px 0px;
}

.call-preto {
  color: #000000;
  border: 3px solid #000000;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .card {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 787px) {
  .itens {
    flex-direction: column;
  }

  .card {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

/* NAVES */

.naves {
  background: url("../../assets/home/bg-naves.jpg") no-repeat center;
  background-size: cover;
}

.naves::before {
  content: "";
  display: table;
  width: calc(100% - 20px);
  border: 10px solid #e8793b;
  position: relative;
}

.naves h1 {
  position: relative;
  top: -50px;
  left: 220px;
  width: 100px;
}

.badge {
  max-width: 100%;
  position: relative;
  top: -120px;
  left: -120px;
  margin-left: 10px;
}

.mat-tab-group {
  background-color: #fafafa;
  border: none;
  margin-bottom: 200px;
  height: 550px;
}

.nave {
  margin-left: 50px;
  float: left;
}

.nave img {
  max-width: 525px;
}

.info {
  background-color: #fff;
  float: left;
  max-width: 555px;
  margin: 70px 0px 0px 80px;
  box-shadow: 0px 4px 2px #c4c4c4;
  border-radius: 10px;
}

.info h2 {
  font-size: 2.25em;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 30px 30px 10px 30px;
}

.info p {
  font-size: 1.5em;
  line-height: 25px;
  font-weight: 500;
  padding: 0px 50px 20px 30px;
}

.info-mais {
  margin: 0 auto;
  padding-left: 30px;
  padding-bottom: 50px;
}
.info a p {
  float: left;
  padding: 0px;
  text-decoration: none;
  color: #e8793b;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0 auto;
}

.info a .mat-icon {
  float: left;
  color: #e8793b;
  margin-left: 0px;
}

@media (min-width: 788px) and (max-width: 1249px) {
  
.mat-tab-group {
  margin-bottom: 200px;
  height: auto;
  max-width: 900px;
}

.nave {
  margin-left: 155px;
  float: left;
}

.nave img {
  max-width: 525px;
}

.info {
  background-color: #fff;
  float: left;
  margin: 0 0 0 100px;
  max-width: 600px;
  margin-bottom: 50px;
}
  
}

@media (max-width: 787px) {
  .naves h1 {
    position: relative;
    top: -50px;
    left: 0px;
  }

  .badge {
    display: none;
  }

  .nave {
    margin-left: 20px;
    float: none;
  }

  .nave img {
    max-width: 400px;
  }

  .mat-tab-group {
    background-color: #fafafa;
    border: none;
    margin-bottom: 100px;
    height: auto;
    max-width: 480px;
  }

  .info {
    float: none;
    max-width: 350px;
    margin: 0px 0px 0px 40px;
    margin-bottom: 40px;
  }
}

/* FILMES */

.filmes {
  background: url("../../assets/home/bg-filmes.jpg") no-repeat center;
  background-size: cover;
}

.filmes-title {
  text-align: center;
  position: relative;
  top: -50px;
}

.filmes-title img {
  max-width: 100%;
}

.posters {
  background-color: #dcdcdc;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.card-filme {
  background-color: #dcdcdc;
  box-shadow: none;
  border-radius: 0;
  margin-left: 80px;
  float: left;
}

.card-filme p {
  text-align: center;
  color: #000000;
  font-size: 1.1em;
  font-weight: bolder;
  letter-spacing: 1px;
}

@media (min-width: 788px) and (max-width: 1249px) {
  .posters {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 60px;
  }
}

@media (max-width: 787px) {
  .posters {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 60px;
  }

  .card-filme {
    margin-left: 40px;
  }
}
